* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: lightcyan;
    text-align: center;
    min-height: 100vh;
}

.books {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.book {
    display: flex;
    flex-direction: column;
}

#toplabel {
    margin-top: 2rem;
}

.filler {
    grid-column: 2 / 3;
}

.form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    width: min-content;
    border-width: 1px;
}

.formheading {
    font-size: 1.3rem;
}

fieldset {
    border: 0;
}

input[type="radio"] {
    border-radius: 40%;
    height: 1rem;
    border: 0.15em solid currentColor;
}